{% set showUrl = path('ads_show', {slug: ad.slug}) %}
<div class="col-md-4">
    <div class="card bg-light mb-3 rounded-0">
        <div class="card-header text-center">
            {{ ad.rooms }} rooms <strong class="text-warning">&dollar;{{ ad.price | number_format(2, ',', ' ') }}</strong>/night
            <hr>
            {% if ad.comments | length > 0 %}
                {% include 'partials/rating.html.twig' with {'rating': ad.averageRatings} %}
            {% else %}
                <small>Not yet reviewed</small>
            {% endif %}
        </div>
        <a href="{{ showUrl }}">
            <img src="{{ ad.coverImage }}" alt="apartment image"
                 style="height: 200px;width: 100%; display: block;">
        </a>
        <div class="card-body">
            <a href="{{ showUrl }}">
                <h4 class="card-title">{{ ad.title }}</h4>
            </a>
            <p class="card-text">
                {{ ad.introduction }}
            </p>
            <a href="{{ showUrl }}" type="button" class="btn btn-primary float-right">Details</a>
            {% if app.user and app.user == ad.author %}
                <a href="{{ path('ads_edit', {slug: ad.slug}) }}" class="btn btn-secondary">Edit the ad</a>
            {% endif %}
        </div>
    </div>
</div>