{% extends 'base.html.twig' %}

{% block title %}Our ads{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="h1 my-3">Our best advertisements</h2>

        <div class="row">
            {% for ad in ads %}
                {% set showUrl = path('ads_show', {slug: ad.slug}) %}
                <div class="col-md-4">
                    <div class="card bg-light mb-3 rounded-0">
                        <div class="card-header text-center">
                            {{ ad.rooms }} rooms <strong class="text-warning">&dollar;{{ ad.price }}</strong>/night
                            <hr>
                            <small>Not yet noted</small>
                        </div>
                        <a href="{{ showUrl }}">
                            <img src="{{ ad.coverImage }}" alt="apartment image"
                                 style="height: 200px;width: 100%; display: block;">
                        </a>
                        <div class="card-body">
                            <a href="{{ showUrl }}">
                                <h4 class="card-title">{{ ad.title }}</h4>
                            </a>
                            <p class="card-text">
                                {{ ad.introduction }}
                            </p>
                            <a href="{{ showUrl }}" type="button" class="btn btn-secondary">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
