{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card bg-primary text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-users fa-5x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{ stats.users }} Users signed up</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-dark text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-hotel fa-5x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{ stats.ads }} Announcements</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-warning text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-folder fa-5x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{ stats.bookings }} Bookings registered</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-success text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-comments fa-5x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{ stats.comments }} Comments registered</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <div class="alert alert-dark">
                    <h2 class="alert-heading">
                        <i class="fas fa-arrow-up text-success"></i>
                        Best announces
                    </h2>
                    <table class="table table-hover text-light">
                        <thead>
                        <tr>
                            <th>Announce</th>
                            <th>Author</th>
                            <th>Comments</th>
                            <th>Average</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ad in bestAds %}
                            <tr>
                                <td>{{ ad.title }}</td>
                                <td>
                                    <img src="{{ ad.picture }}" alt="{{ ad.firstName ~ ' ' ~ ad.lastName }}"
                                         class="img-fluid avatar avatar-mini">
                                    {{ ad.firstName ~ ' ' ~ ad.lastName }}
                                </td>
                                <td>{{ ad.comments }}</td>
                                <td>{{ ad.rating | number_format(2, ',', ' ') | badge({color: 'light'}) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="alert alert-secondary">
                    <h2 class="alert-heading">
                        <i class="fas fa-arrow-down text-danger"></i>
                        Worst announces
                    </h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Announce</th>
                            <th>Author</th>
                            <th>Comments</th>
                            <th>Average</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ad in worstAds %}
                            <tr>
                                <td>{{ ad.title }}</td>
                                <td>
                                    <img src="{{ ad.picture }}" alt="{{ ad.firstName ~ ' ' ~ ad.lastName }}"
                                         class="img-fluid avatar avatar-mini">
                                    {{ ad.firstName ~ ' ' ~ ad.lastName }}
                                </td>
                                <td>{{ ad.comments }}</td>
                                <td>{{ ad.rating | number_format(2, ',', ' ') | badge({color: 'dark'}) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
