<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('homepage') }}">NotBNB!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-itemannouncements">
                <a class="nav-link" href="{{ path('homepage') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ads_list') }}">Advertisements</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                {% set u = app.user %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                        <img src="{{ u.picture }}" class="avatar avatar-mini" alt="{{ u }}">
                        {{ u }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right rounded-0 border-top-0"
                         aria-labelledby="accountDropdownLink">
                        <a href="{{ path('ads_create') }}" class="dropdown-item">
                            Create an Ad
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('account_me') }}" class="dropdown-item">
                            My Profile
                        </a>
                        <a href="{{ path('account_password') }}" class="dropdown-item">Change my password</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('account_logout') }}" class="dropdown-item">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_register') }}">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_login') }}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                {{ message | raw }}
            {% endfor %}
        </div>
    </div>
{% endfor %}