{% extends 'pub/base.html.twig' %}

{% block title %}Booking!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-1">You are booking for the ad: <em>{{ ad.title }}</em></h1>

        <p>You are about to book the property of <strong>{{ ad.author }}</strong>, we will handle the rest</p>

        {{ form_start(form) }}
        <div class="alert alert-light p-2">
            <h4>Start by telling us when will you arrive</h4>
            <div class="row">
                <div class="col">
                    {{ form_row(form.startDate) }}
                </div>
                <div class="col">
                    {{ form_row(form.endDate) }}
                </div>
            </div>
            <h4 class="mt-3">Cost of stay : &dollar;<span id="amount">...</span></h4>
            <span id="days">0</span> night(s) at &dollar;{{ ad.price | number_format(2, ',', ' ') }} per night

            <h4 class="mt-3">You have a comment ?</h4>
            {{ form_row(form.comment) }}
        </div>

        <h2>You have finish !</h2>
        <p>Holidays of your dreams ? Accommodation for business ? Don't worry, we are always available !</p>

        <button type="submit" class="btn btn-success">I book !</button>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#booking_startDate, #booking_endDate').datepicker({
                format: 'yyyy/mm/dd',
                datesDisabled: [
                    {% for day in ad.notAvailableDays %}
                    "{{ day | date('Y-m-d') }}",
                    {% endfor %}
                ],
                startDate: new Date(),
            });

            $('#booking_startDate, #booking_endDate').on('change', calculateAmount)
        })

        function calculateAmount() {
            const startDate = new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$1-$2-$3'));
            const endDate = new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$1-$2-$3'));

            if (startDate && endDate && startDate < endDate) {
                const DAY_TIME = 24 * 60 * 60 * 1000;
                const interval = endDate - startDate;
                const days = interval / DAY_TIME;
                const amount = days * {{ ad.price }};

                $('#days').text(days);
                $('#amount').text(amount.toLocaleString('en-US'));
            }
        }
    </script>
{% endblock %}
