{% extends 'pub/base.html.twig' %}

{% block title %}Booking n°{{ booking.id }}{% endblock %}

{% set ad = booking.ad %}
{% set author = booking.ad.author %}

{% block body %}
    <div class="container">
        <h1 class="my-3">Your booking (n°{{ booking.id }})</h1>

        {% if app.request.get('withAlert') %}
            <div class="alert alert-success">
                <h4 class="alert-heading">Bravo !</h4>
                <p>
                    Your booking with
                    <strong>
                        <a href="{{ path('user_show', {slug: author.slug}) }}">{{ author }}</a>
                    </strong>
                    for the ad
                    <strong>
                        <a href="{{ path('ads_show', {slug: ad.slug}) }}">{{ ad.title }}</a>
                    </strong>
                    has been registered !!
                </p>
            </div>
        {% endif %}

        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2>Details</h2>
                    <dl class="row">
                        <dt class="col-md-4">Number</dt>
                        <dd class="col-md-8">{{ booking.id }}</dd>
                        <dt class="col-md-4">Arrival date</dt>
                        <dd class="col-md-8">{{ booking.startDate | date('Y/m/d H:i') }}</dd>
                        <dt class="col-md-4">Departure date</dt>
                        <dd class="col-md-8">{{ booking.endDate | date('Y/m/d H:i') }}</dd>
                        <dt class="col-md-4">Number of nights</dt>
                        <dd class="col-md-8">{{ booking.duration }}</dd>
                        <dt class="col-md-4">Total amount</dt>
                        <dd class="col-md-8">&dollar;{{ booking.amount | number_format(2, ',', ' ')}}</dd>
                        <dt class="col-md-4">Comment</dt>
                        <dd class="col-md-8">{{ booking.comment | default('No comment')}}</dd>
                    </dl>

                    <hr>

                    <h2 class="alert-heading">Your Host</h2>
                    <div class="row">
                        <div class="col-3">
                            <img src="{{ author.picture }}" class="avatar avatar-medium" alt="{{ author }}">
                        </div>
                        <div class="col-9">
                            <h4>
                                <a href="{{ path('user_show', {slug: author.slug}) }}">{{ author }}</a>
                            </h4>
                            {{ ((author.ads | length) ~ ' Ads') | badge }}
                        </div>
                    </div>

                    <p class="text-justify">
                        {{ author.description | raw }}
                        <a href="{{ path('user_show', {slug: author.slug}) }}" class="btn btn-primary">More
                            about {{ author }}</a>
                    </p>
                </div>

                <div class="alert alert-light" id="comment">
                    <h2 class="alert-heading">Your opinion matters !</h2>
                    {# Comments can only be added if the customer has already left the accommodation #}
                    {% if date() >= date(booking.endDate) %}
                        {% set comment = ad.authorComment(app.user) %}
                        {% if comment is not null %}
                            <blockquote>{{ comment.content | raw }}</blockquote>
                            <strong>Note:</strong>
                            {% include 'pub/partials/rating.html.twig' with {rating: comment.rating} %}
                        {% else %}
                            {{ form_start(form, {'attr': {'method': 'post' }}) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-success">Save</button>
                            {{ form_end(form) }}
                        {% endif %}
                    {% else %}
                        <p>You cannot yet  give your feedback. It will be possible after your journey :)</p>
                    {% endif %}
                </div>

            </div>
            <div class="col">
                <div class="alert alert-light">
                    <h2 class="alert-heading">Your accommodation</h2>
                    <h4>
                        <a href="{{ path('ads_show', {slug: ad.slug}) }}">{{ ad.title }}</a>
                    </h4>
                    <img src="{{ ad.coverImage }}" alt="{{ ad.title }}" class="img-fluid">
                    {{ ad.content | raw }}
                    <a href="{{ path('ads_show', {slug: ad.slug}) }}" class="btn btn-primary">More information..</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
