{% extends 'pub/base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-1 rounded-0">
            <h1 class="display-3">Welcome to NotBNB !</h1>
            <p class="lead">
                We connect travelers and owners who want to take advantage of opportunities and earn money by offering
                their property for rental</p>
            <hr>
            <p>Are you a traveler? and you want to see where you can log in for your next trip</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('ads_list') }}" role="button">See our ads</a>
            </p>
        </div>

        <h2 class="h1 mt-3 mb-4">Our apartments</h2>

        <div class="row mt-5">
            {% for result in bestAds %}
                {% include 'pub/ad/_announcement.html.twig' with {ad: result.ad} %}
            {% endfor %}
        </div>

        <h2 class="h1 mt-3 mb-4">Our owner stars</h2>

        <div class="row">
            {% for result in bestUsers %}
                {% set user = result.user %}
                <div class="col">
                    <div class="card border-secondary mb-3 rounded-0">
                        <div class="card-body">
                            <h4 class="card-title">{{ user }}</h4>
                            <hr>
                            <div class="card-text">
                                <img src="{{ user.picture }}" alt="{{ user }}" class="float-left mr-3">
                                <p>{{ user.introduction }}</p>
                                <a href="{{ path('user_show', {slug: user.slug}) }}" class="btn btn-success float-right">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}