{% extends 'pub/base.html.twig' %}

{% block title %}New ad{% endblock %}

{% form_theme form 'pub/ad/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h2 class="h1 my-3">Create a new announcement</h2>

        {{ form_start(form) }}

        <div class="row">
            <div class="col">
                <div class="alert alert-light rounded-0">
                    <h2>General information</h2>
                    <hr>
                    {{ form_row(form.title) }}
                    {{ form_row(form.price) }}
                    {{ form_row(form.rooms) }}
                </div>
                <div class="alert alert-light rounded-0">
                    <h2>Announcement details</h2>
                    <hr>
                    {{ form_row(form.introduction) }}
                    {{ form_row(form.content) }}
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light rounded-0">
                    <h2>Announcement images</h2>
                    <hr>
                    {{ form_row(form.coverImage) }}
                    {{ form_row(form.images) }}
                </div>
            </div>
        </div>
        <div class="alert alert-dark clearfix rounded-0">
            <h2 class="alert-heading">Save the announcement</h2>
            <button type="submit" class="btn btn-primary float-right">
                <i class="fas fa-check mr-1"></i>Create new ad
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ad') }}
{% endblock %}